/** ================= prepare ================= */
*{
    box-sizing: border-box;
}

:root{
    --color-fill: hsl(25, 97%, 53%);
}

html{
    font-size: 62.5%;
}
/** ================= common ================= */

body{
    background-color: hsl(216, 12%, 8%);
    font-size: 1.6rem;
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
}

input,
textarea,
select,
button {
  font-family: inherit;
  font-size: inherit;
}

/** ================= container ================= */

.container{
    max-width: 420px;
    width: (100% - 60px);
    height: auto;
    background-color: hsla(213, 19%, 18%, 0.6);
    border-radius: 30px;
    padding: 32px;
    display: none;
}
.container.active{
    display: block;
}

/** ================= rating card ================= */

.star{
    width: 45px;
    background-color: hsla(217, 12%, 63%, 0.1);
    height: 45px;
    display: flex;  
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-bottom: 40px;
}

.star img{
    width: 15px;
}

.content{
    margin-bottom: 25px;
}

.title{
    font-size: 2.7rem;
    color: hsl(0, 100%, 100%);
    font-weight: 500;
    margin-bottom: 15px;
}

.desc{
    color: hsl(217, 12%, 63%);
    line-height: 28px;
    font-size: 1.4rem;
}

.rating ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.rating ul li{
    display: inline-block;
    width: 55px;
    height: 55px;
    background-color: hsla(217, 12%, 63%, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: hsl(0, 100%, 100%);
    font-size: 1.6rem;
    cursor: pointer;
}

.rating ul li.active{
    background-color: hsl(0, 100%, 100%);
    color: hsl(216, 12%, 8%);
}

.rating ul li:hover{
    background-color: hsl(25, 97%, 53%);
}


.btn{
    background-color: hsl(25, 97%, 53%);
    text-align: center;
    border-radius: 20px;
    padding: 13px 20px;
    color: hsl(216, 12%, 8%);
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
}

.btn:hover{
    background-color: hsl(0, 100%, 100%);
}

/** ================= thank you card ================= */

.image{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.judge{
    text-align: center;
    color: hsla(25, 97%, 53%, 0.6);
    font-weight: 500;
    margin-bottom: 25px;
}

.judge__content{
    background-color: hsla(217, 12%, 63%, 0.1);
    display: inline-block;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 1.4rem;
    margin-bottom: 23px;
}

.bot_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}



